* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#bg-home {
    background-color: #226089;
}

section.home {
    min-height: 100vh;
}

#navbarNav ul li a.nav-link {
    color: #ffffff;
}

#navbarNav ul li a.nav-link:hover {
    color: #8ca0b6;
}

/* div.nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
} */

footer {
    color: #ffffff;
    background-color: ;
}

.img {
    width: inherit;
    height: 100%;
}

img.foot-logo {
    width: 40px;
}

p.covenant {
    font-size: 15px;
    font-weight: bold;
}

footer p {
    font-size: 12px;
}